<a href="https://colab.research.google.com/github/Samsonasumu/PYTHON-DATA-SCIENCE/blob/main/movieDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**COLLECTING DATA FROM AN API**

 sign up and login at https://themoviedb.org/setting/api
 grab the API key

In [ ]:
#https://www.youtube.com/watch?v=FlFyrOEz2S4 to get the api key
#4666f0ddc04ac1eaf22895a5a6f6....
#https://api.themoviedb.org/3/movie/top_rated?api_key=4666f0ddc04ac1eaf22895a5a6.....&language=en-US&page=1
#copy the above url in a browser and open in 
#https://jsonviewer.stack.hu/
#it has a total of 555 pages

In [39]:
import pandas as pd
import requests

import warnings
warnings.filterwarnings('ignore')

In [40]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=4666f0ddc04ac1eaf22895........&language=en-US&page=1")

In [41]:
response.json()['results']

[{'adult': False,
  'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 104.261,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 17922},
 {'adult': False,
  'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 76.163,
  'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 23767},
 {'adult': False,
  'backdrop_path': '/ejnlCzBd5pOGAYCpxC93NXSrdrz.jpg',
  'genre_ids': [35, 14],
  'id': 772071,
  'original_language': 'es',
  'original_title': 'Cuando Sea Joven',
  'overview': '70-year-old Malena gets a second chance at life when she magically turns into her 22-year-old self. Now, posing as "Maria" to hide her true identity, she becomes the lead singer of her grandson\'s band and tries to recover her dream of singing, which she had to give up at some point.',
  'popularity': 17.885,
  'poster_path': '/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg',
  'release_date': '2022-09-14',
  'title': 'Cuando Sea Joven',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 225},
 {'adult': False,
  'backdrop_path': '/oo4PVK6AyLZN49BokxDFGyclN86.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 44.198,
  'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather Part II',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 10821},
 {'adult': False,
  'backdrop_path': '/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 24.25,
  'poster_path': '/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg',
  'release_date': '1995-10-19',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 4128},
 {'adult': False,
  'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 46.611,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-12-15',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 14056},
 {'adult': False,
  'backdrop_path': '/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 70.059,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 14288},
 {'adult': False,
  'backdrop_path': '/tj6iPnz18hGfr0LKqWmG6Cp3niO.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 28.798,
  'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 7259},
 {'adult': False,
  'backdrop_path': '/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg',
  'genre_ids': [10749, 16, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': '君の名は。',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 86.228,
  'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 9821},
 {'adult': False,
  'backdrop_path': '/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': '기생충',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 53.064,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 15719},
 {'adult': False,
  'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQnA.jpg',
  'genre_ids': [18, 28, 80, 53],
  'id': 155,
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 64.737,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'release_date': '2008-07-14',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 29693},
 {'adult': False,
  'backdrop_path': '/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 61.708,
  'poster_path': '/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 15392},
 {'adult': False,
  'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
  'genre_ids': [53, 80],
  'id': 680,
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 61.778,
  'poster_path': '/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg',
  'release_date': '1994-09-10',
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 25156},
 {'adult': False,
  'backdrop_path': '/eoCSp75lxatmIa6aGqfnzwtbttd.jpg',
  'genre_ids': [37],
  'id': 429,
  'original_language': 'it',
  'original_title': 'Il buono, il brutto, il cattivo',
  'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
  'popularity': 42.72,
  'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
  'release_date': '1966-12-23',
  'title': 'The Good, the Bad and the Ugly',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 7388},
 {'adult': False,
  'backdrop_path': '/3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 13,
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 53.132,
  'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg',
  'release_date': '1994-06-23',
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 24643},
 {'adult': False,
  'backdrop_path': '/3RMLbSEXOn1CzLoNT7xFeLfdxhq.jpg',
  'genre_ids': [10749, 16],
  'id': 372754,
  'original_language': 'ja',
  'original_title': '同級生',
  'overview': 'Rihito Sajo, an honor student with a perfect score on the entrance exam and Hikaru Kusakabe, in a band and popular among girls, would have never crossed paths. Until one day they started talking at the practice for their school’s upcoming chorus festival. After school, the two meet regularly, as Hikaru helps Rihito to improve his singing skills. While they listen to each other’s voice and harmonize, their hearts start to beat together.',
  'popularity': 14.514,
  'poster_path': '/cIfRCA5wEvj9tApca4UDUagQEiM.jpg',
  'release_date': '2016-02-20',
  'title': 'Dou kyu sei – Classmates',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 304},
 {'adult': False,
  'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
  'genre_ids': [12, 14, 28],
  'id': 122,
  'original_language': 'en',
  'original_title': 'The Lord of the Rings: The Return of the King',
  'overview': "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.",
  'popularity': 57.585,
  'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
  'release_date': '2003-12-01',
  'title': 'The Lord of the Rings: The Return of the King',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 21578},
 {'adult': False,
  'backdrop_path': '/sw7mordbZxgITU877yTpZCud90M.jpg',
  'genre_ids': [18, 80],
  'id': 769,
  'original_language': 'en',
  'original_title': 'GoodFellas',
  'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
  'popularity': 39.395,
  'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg',
  'release_date': '1990-09-12',
  'title': 'GoodFellas',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 11249},
 {'adult': False,
  'backdrop_path': '/uBZQOYZLIU9dBmd62fdzBAoropu.jpg',
  'genre_ids': [28, 12, 16, 18],
  'id': 704264,
  'original_language': 'en',
  'original_title': 'Primal: Tales of Savagery',
  'overview': "Genndy Tartakovsky's Primal: Tales of Savagery features a caveman and a dinosaur on the brink of extinction. Bonded by tragedy, this unlikely friendship becomes the only hope of survival.",
  'popularity': 9.665,
  'poster_path': '/9NBBkdxH0TjQEBSN2AzeE1sgsF9.jpg',
  'release_date': '2019-11-21',
  'title': 'Primal: Tales of Savagery',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 263},
 {'adult': False,
  'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg',
  'genre_ids': [28, 18],
  'id': 346,
  'original_language': 'ja',
  'original_title': '七人の侍',
  'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
  'popularity': 23.21,
  'poster_path': '/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg',
  'release_date': '1954-04-26',
  'title': 'Seven Samurai',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 3048}]

In [42]:
pd.DataFrame(response.json()['results']).head(4)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",104.261,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,17922
1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,76.163,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23767
2,False,/ejnlCzBd5pOGAYCpxC93NXSrdrz.jpg,"[35, 14]",772071,es,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,17.885,/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg,2022-09-14,Cuando Sea Joven,False,8.6,225
3,False,/oo4PVK6AyLZN49BokxDFGyclN86.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,44.198,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.6,10821

In [43]:
tempo_df=pd.DataFrame(response.json()['results'])[['id','popularity','release_date','title','vote_average','vote_count']]

In [44]:
tempo_df
 #displaying the results of the first page

,id,popularity,release_date,title,vote_average,vote_count
0,238,104.261,1972-03-14,The Godfather,8.7,17922
1,278,76.163,1994-09-23,The Shawshank Redemption,8.7,23767
2,772071,17.885,2022-09-14,Cuando Sea Joven,8.6,225
3,240,44.198,1974-12-20,The Godfather Part II,8.6,10821
4,19404,24.250,1995-10-19,Dilwale Dulhania Le Jayenge,8.6,4128
5,424,46.611,1993-12-15,Schindler's List,8.6,14056
6,129,70.059,2001-07-20,Spirited Away,8.5,14288
7,389,28.798,1957-04-10,12 Angry Men,8.5,7259
8,372058,86.228,2016-08-26,Your Name.,8.5,9821
9,496243,53.064,2019-05-30,Parasite,8.5,15719
10,155,64.737,2008-07-14,The Dark Knight,8.5,29693
11,497,61.708,1999-12-10,The Green Mile,8.5,15392
12,680,61.778,1994-09-10,Pulp Fiction,8.5,25156
13,429,42.720,1966-12-23,"The Good, the Bad and the Ugly",8.5,7388
14,13,53.132,1994-06-23,Forrest Gump,8.5,24643
15,372754,14.514,2016-02-20,Dou kyu sei – Classmates,8.5,304
16,122,57.585,2003-12-01,The Lord of the Rings: The Return of the King,8.5,21578
17,769,39.395,1990-09-12,GoodFellas,8.5,11249
18,704264,9.665,2019-11-21,Primal: Tales of Savagery,8.5,263
19,346,23.210,1954-04-26,Seven Samurai,8.5,3048

In [45]:
#creating an empty dataframe to store our final dataset
df_final = pd.DataFrame()

In [46]:
df_final

Empty DataFrame
Columns: []
Index: []

In [47]:
#we needto run a for loop since we have 555 pages
#we need to iterATE UNITL 556
for k in range(1,556):
    response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=4666f0ddc04ac1eaf22895a5a6f63779&language=en-US&page={}".format(k))
    tempo_df =pd.DataFrame(response.json()['results'])[['id','popularity','release_date','title','vote_average','vote_count']]
    df_final=df_final.append(tempo_df,ignore_index=True)

KeyError: ignored

In [48]:
df_final.shape
#df.to_csv("movies.csv")
#upload to kaggle

(10000, 6)

In [49]:
df_final.tail()

,id,popularity,release_date,title,vote_average,vote_count
9995,9623,11.470,1996-02-02,The Juror,5.6,318
9996,258086,7.270,2014-06-20,The Damned,5.5,223
9997,100042,32.534,2014-11-12,Dumb and Dumber To,5.5,2846
9998,19556,11.870,2009-03-13,Miss March,5.5,319
9999,2698,20.466,2007-06-09,Evan Almighty,5.5,3840